@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply text-gray-900 dark:text-white
}


.place {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.place .content {
    padding: 0 80px;
    max-width: calc(1200px + 160px);
    width: 100%;
}
.place .content  .upx {
    position: relative;
}

.place .content  .upx .images {
    margin-top: 24px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    position: relative;
    max-height: 550px;
    height: 70vh;
    min-height: 300px;
}
.place .content  .upx .images .left {
    width: 50%;
    overflow: hidden;
    position: relative;
}
.place .content  .upx .images .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.place .content  .upx .images .left:hover > .layer {
    opacity: 0.3 !important;
}
.place .content  .upx .images .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;
    z-index: 10;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

.place .content  .upx .images .right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.place .content  .upx .images .right li {
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
    width: calc(50% - 10px);
    height: 50%;
}
.place .content  .upx .images .right li:hover > .layer {
    opacity: 0.3 !important;
}




.place .content  .body {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.place .content  .body .left {
    width: 60%;
}
.place .content  .body .left .container1 {
    position: relative;
    width: 100%;
    padding: 48px 0 24px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}
.place .content  .body .left .container1 h1 {
    font-size: 22px;
    margin-bottom: 8px;
}
.place .content  .body .left .container1 p {
    font-size: 18px;
}
.place .content  .body .left .container1 .host {
    position: absolute;
    right: 1rem;
    top: 48px;
    width: 56px;
    height: 56px;
    overflow: hidden;
}
.place .content  .body .left .container1 .host img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.place .content  .body .left .container1 .host svg {
    position: absolute;
    bottom: 0;
    right: -5px;
    width: 22px;
    height: 22px;
}
.place .content  .body .left .container2 ul {
    padding: 2rem 0;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}
.place .content  .body .left .container2 li {
    margin-top: 20px;
    display: flex;
    justify-content: start;
}
.place .content  .body .left .container2 li:first-child {
    margin-top: 0;
}
.place .content  .body .left .container2 li p {
    line-height: 20px;
    color: #717171;
}
.place .content  .body .left .container2 li .t {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
    color: #222;
}
.place .content  .body .left .container2 li svg {
    margin-top: 4px;
    margin-right: 1rem;
}
.place .content  .body .left .container2 .description {
    padding: 2rem 0 48px;
    font-size: 18px;
    border-bottom: 1px solid #22222226;
}
.place .content  .body .left .container2 .description p {
    line-height: 24px;
}
.place .content  .body .left .container2 .description button {
    display: flex;
    align-items: center;
    font-weight: 600;
    text-decoration: underline;
    color: #000;
    font-size: 17px;
    margin-top: 20px;
}
.place .content  .body .left .container2 .description button svg {
    margin-left: 6px;
}
.place .content  .body .left .container2 .offers {
    padding: 48px 0;
}
.place .content  .body .left .container2 .offers h1 {
    font-size: 22px;
    font-weight: 600;
}
.place .content  .body .left .container2 .offers ul {
    flex-wrap: wrap;
    display: flex;
}
.place .content  .body .left .container2 .offers ul li {
    margin: 0 0 1rem;
    width: 50%;
    display: flex;
    height: fit-content;
    align-items: center;
    white-space: nowrap;
}
.place .content  .body .left .container2 .offers ul li:first-child {
    margin-bottom: 0;
}
.place .content  .body .left .container2 .offers ul li.d p {
    text-decoration: line-through;
}
.place .content  .body .left .container2 .offers ul li svg {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}
.place .content  .body .left .container2 .offers ul li p {
    font-size: 18px;
    color: #222;
}
.place .content  .body .left .container2 .offers ul button {
    padding: 13px 23px;
    border: 1px solid #000;
    border-radius: 8px;
    font-weight: 600;
    font-size: 17px;
    transition: 0.15s ease-in-out all;
    margin-top: 2rem;
}
.place .content  .body .left .container2 .offers ul button:active {
    transform: scale(0.9);
}
.place .content  .body .left .container2 .offers ul button:hover {
    background-color: #f7f7f7;
}
.place .content  .body .left .container2 .date {
    padding-bottom: 48px;
    border-bottom: 1px solid #22222226;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}
.place .content  .body .left .container2 .date h1 {
    font-size: 22px;
}
.place .content  .body .left .container2 .date h2 {
    font-size: 14px;
    margin-top: 8px;
    font-weight: 400;
    margin-bottom: 22px;
}
.place .content  .body .left .container2 .date .dateview {
    width: 640px;
    position: relative;
    left: -24px;
    display: flex;
    justify-content: space-between;
}
.place .content  .body .left .container2 .date .dateview button[disabled] {
    text-decoration: line-through;
}
.place .content  .body .left .container2 .date .dateview button[aria-selected="true"] {
    background-color: #000;
    color: #fff;
    font-weight: 600;
}
.place .content  .body .reserve {
    height: min-content;
    position: sticky;
    width: 374px;
    top: 200px;
    right: 0;
    transition: 0.3s ease-in-out all;
    margin: 48px 0 4rem;
    padding: 24px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
    background-color: white;
}
.place .content  .body .reserve .up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 24px;
}
.place .content  .body .reserve .up .l {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
}
.place .content  .body .reserve .up .l span {
    font-size: 22px;
    font-weight: 600;
}
.place .content  .body .reserve .up .r {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.place .content  .body .reserve .up .r svg {
    margin-right: 4px;
}
.place .content  .body .reserve .up .r .dot {
    margin: 0 4px;
}
.place .content  .body .reserve .up .r .rc {
    color: #717171;
    font-weight: 400;
}
.place .content  .body .reserve .contentx {
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 1px solid #222;
}
.place .content  .body .reserve .contentx .u {
    display: flex;
    width: 100%;
}
.place .content  .body .reserve .contentx .u .div {
    width: 100%;
    border-bottom: 1px solid #222;
}
.place .content  .body .reserve .contentx .u .div:first-child {
    border-right: 1px solid #222;
}
.place .content  .body .reserve .contentx .div {
    height: 56px;
    display: flex;
    padding-left: 12px;
    position: relative;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
.place .content  .body .reserve .contentx .div h3 {
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    position: relative;
    line-height: 12px;
}
.place .content  .body .reserve .contentx .div p {
    font-size: 14px;
    color: #717171;
    font-weight: 400;
}
.place .content  .body .reserve .contentx .div button {
    position: absolute;
    right: 24px;
}
.place .content  .body .reserve .check {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding: 14px 24px;
    border-radius: 8px;
    transition: 0.15s ease-in-out all;
    background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
}
.place .content  .body .reserve .check:active {
    transform: scale(0.95);
    background: linear-gradient(to left, #e61e4d 0%, #e31c5f 50%, #d70466 100%) !important;
}
.place .content #reviews {
    padding: 48px 0;
    width: 100%;
    border-bottom: 1px solid #22222226;
}
.place .content #reviews .upp {
    width: 100%;
    margin-bottom: 2rem;
}
.place .content #reviews .upp h1 {
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: 22px;
    margin-bottom: 2rem;
}
.place .content #reviews .upp h1 svg {
    margin-right: 8px;
}
.place .content #reviews .upp .a {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.place .content #reviews .upp .a .l {
    width: 40%;
    display: block;
}
.place .content #reviews .upp .a .l:first-child {
    margin-right: 10%;
}
.place .content #reviews .upp .a .l li {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.place .content #reviews .upp .a .l li p {
    font-size: 17px;
}
.place .content #reviews .upp .a .l li p:first-child {
    width: 100%;
}
.place .content #reviews .upp .a .l li p:last-child {
    font-size: 13px;
    font-weight: 600;
}
.place .content #reviews .upp .a .l li div {
    width: 40%;
    display: flex;
    height: 4px;
    align-items: center;
    background-color: #dddddd;
    border-radius: 2px;
    margin-right: 8px;
    overflow: hidden;
}
.place .content #reviews .upp .a .l li div span {
    display: block;
    width: 96%;
    height: 4px;
    background-color: #222;
}
.place .content #reviews .upp .a .l li div span.s {
    width: 90%;
}
.place .content #reviews .upp .a .l li div span.m {
    width: 92%;
}
.place .content #reviews .upp .a .l li div span.l {
    width: 94%;
}
.place .content #reviews ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 800px) {
    .place .content #reviews ul {
        grid-template-columns: repeat(1, 1fr);
    }
    .place .content #reviews ul li {
        width: 100%;
        padding: 0 !important;
    }
}
.place .content #reviews ul li {
    margin-bottom: 40px;
    padding-right: 4rem;
}
.place .content #reviews ul li img {
    margin-right: 12px;
    border-radius: 100%;
}
.place .content #reviews ul li .profile {
    margin-bottom: 1rem;
}
.place .content #reviews ul li .profile img {
    float: left;
}
.place .content #reviews ul li .profile .name {
    display: block;
    font-weight: 600;
    font-size: 1rem;
}
.place .content #reviews ul li .profile .date {
    color: #717171;
    font-size: 14px;
}
.place .content #reviews ul li .content {
    padding: 0 !important;
}
.place .content #reviews button {
    padding: 13px 23px;
    border: 1px solid #000;
    border-radius: 8px;
    font-weight: 600;
    font-size: 17px;
    transition: 0.15s ease-in-out all;
    margin-top: 2rem;
}
.place .content #reviews button:active {
    transform: scale(0.9);
}
.place .content #reviews button:hover {
    background-color: #f7f7f7;
}
